body {
    background-color: rgb(65, 53, 59);
  }
  
  .Container{
    display:flex;
    justify-content:center;
  }

  .Main{
    display:grid;
    background-color: rgb(172, 131, 153);
    max-width: 450px;
  }

  .header{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }