@font-face {
  font-family: 'undertale'; 
  src: url(undertale-deltarune-text-font-extended.ttf); 
}

body {
    background-image: url("UTDR_BG.gif");
    background-repeat:repeat;
  }
  

  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .Container{
    display:grid;
    justify-content:center;
    font-family:undertale;
  }

  .Main{
    grid-row:1 / 2;
    color: rgb(32, 247, 86);
    display:grid;
    grid-gap: 20px;
    background-color: rgb(5, 5, 5);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    border: dashed 2px rgb(32, 247, 86);
  }

  .Header{
    margin:auto 50px;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .Mihi{
    margin:auto 50px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    color: rgb(32, 247, 86);
    font-size:medium;
  }


  .AboutMe{
    margin:auto 50px;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .Lists{
    grid-row: 2 / 3;
    display:grid;
    background-color: rgb(5, 5, 5);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    margin-bottom: 50px;
    border: dashed 2px rgb(32, 247, 86);
    color: rgb(32, 247, 86);
  }

  .orderandnot{
    margin:auto 50px;
  }

  .pictures{
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(5, 5, 15);
    margin:auto 20px;
    border: dashed 2px rgb(32, 247, 86);
  }

  .pictures > *{
    border: dashed 2px rgb(32, 247, 86);
    margin: auto 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .PictureTitle{
    background-color: rgb(5, 5, 5);
    font-family:arial;
    font-size:large;
    text-align:center;
    color: rgb(32, 247, 86);
    border: dashed 2px rgb(32, 247, 86);
  }

  .links{
    grid-row: 2 / 3;
    display:grid;
    background-color: rgb(5, 5, 5);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    margin-bottom: 50px;
    border: dashed 2px rgb(32, 247, 86);
    color: rgb(32, 247, 86);

  }