body {
    background-image: url("UTDR_BG.gif");
    background-repeat:repeat;
  }
  
  .Container{
    display:grid;
    justify-content:center;
    font-family:arial;
  }

  .Main{
    grid-row:1 / 2;
    display:grid;
    background-color: rgb(5, 5, 5);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    border: solid 2px rgb(32, 247, 86);
  }

  .Header{
    margin:auto 50px;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .Mihi{
    margin:auto 50px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }

  .AboutMe{
    margin:auto 50px;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .Lists{
    grid-row: 2 / 3;
    display:grid;
    background-color: rgb(5, 5, 5);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    margin-bottom: 50px;
    border: dashed 2px rgb(32, 247, 86);
  }

  .orderandnot{
    margin:auto 50px;
  }

  .pictures{
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(5, 5, 15);
    margin:auto 50px;
    border: solid 2px rgb(32, 247, 86);
  }

  .pictures > *{
    border: solid 2px rgb(32, 247, 86);
    margin: auto 50px;
  }

  .PictureTitle{
    background-color: rgb(5, 5, 5);
    font-family:arial;
    font-size:large;
    text-align:center;
    color: rgb(32, 247, 86);
    border: solid 2px rgb(32, 247, 86);
  }