body {
    background-color: rgb(65, 53, 59);
  }
  
  .Container{
    display:flex;
    justify-content:center;
    font-family:arial;
  }

  .Main{
    display:grid;
    background-color: rgb(172, 131, 153);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
  }

  .Header{
    margin:auto 50px;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .Mihi{
    margin:auto 50px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }

  .AboutMe{
    margin:auto 50px;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }