@font-face {
  font-family: 'undertale'; 
  src: url(undertale-deltarune-text-font-extended.ttf); 
}

body {
    background-image: url("UTDR_BG.gif");
    background-repeat:repeat;
  }
  

  .topnav {
    background-color: #000000;
    overflow: hidden;
    font-family:undertale;
    border:solid 1px rgb(32, 247, 86);
  }
  
  .topnav a {
    float: left;
    color: rgb(32, 247, 86);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .Container{
    display:grid;
    font-family:undertale;
    justify-content: center;
    margin:auto 50px;
  }

  .Main{
    font-family:undertale;
    grid-row:1 / 2;
    grid-column: 2 / 3;
    color: rgb(32, 247, 86);
    display:grid;
    grid-gap: 20px;
    background-color: rgb(0, 0, 0);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    border: dashed 2px rgb(32, 247, 86);
    padding:10px;
  }

  .button{
    font-family:undertale;
     color: rgb(32, 247, 86);
     border: dashed 2px rgb(32, 247, 86);
     background-color: rgb(0, 0, 0);
  }

  .Header{
    margin:auto 50px;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .Mihi{
    margin:auto 50px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color: rgb(32, 247, 86);
    font-size:medium;
    padding:20px;
  }


  .AboutMe{
    margin:auto 50px;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .Lists{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display:grid;
    background-color: rgb(0, 0, 0);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    margin-bottom: 50px;
    border: dashed 2px rgb(32, 247, 86);
    color: rgb(32, 247, 86);
  }

  .orderandnot{
    margin:auto 50px;
  }

  .pictures{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    background-color: rgb(0, 0, 0);
    margin:auto 20px;
    border: dashed 2px rgb(32, 247, 86);
  }

  .imagepagetitle{
   margin:auto 30px;
  }
  .pictures > *{
    border: dashed 2px rgb(32, 247, 86);
    margin: auto 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .img:hover{
    transform: scale(1.2);
  }
  .img{
    transition: transform .2s;
  }

  .PictureTitle{
    font-family:undertale;
    background-color: rgb(0, 0, 0);
    font-size:large;
    display: flex;
    flex-direction:row;
    justify-content: center;
    color: rgb(32, 247, 86);
    border: dashed 2px rgb(32, 247, 86);
  }

  .links{
    grid-row: 2 / 3;
    display:grid;
    background-color: rgb(0, 0, 0);
    max-width: 450px;
    text-align:center;
    margin:auto 50px;
    margin-bottom: 50px;
    border: dashed 2px rgb(32, 247, 86);
    color: rgb(32, 247, 86);

  }